<mz-navbar>
  <a href="#" class="brand-logo center">Xtudio</a>
  <mz-navbar-item-container [align]="'left'">
    <mz-navbar-item>
      <a id="btn-sidenav-demo" class="waves-effect center">
        <i mz-icon [align]="'right'" [icon]="'menu'" [size]="'medium'">
        </i>
      </a>
    </mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>

<mz-sidenav #sidenav
  [id]="'sidenav-demo'"
  [collapseButtonId]="'btn-sidenav-demo'">
  <mz-navbar></mz-navbar>
  
  <mz-sidenav-link>
    <a routerLink="/agendamento" 
        routerLinkActive="active"  
        class="waves-effect" (click)="sidenav.opened = false">Agendamento</a>
  </mz-sidenav-link>
  
  <mz-sidenav-link>
    <a routerLink="/formapagamento" 
        routerLinkActive="active"  
        class="waves-effect" (click)="sidenav.opened = false">Forma de Pagamento</a>
  </mz-sidenav-link>
  
  <mz-sidenav-link>
    <a routerLink="/funcionario" 
        routerLinkActive="active"  
        class="waves-effect" (click)="sidenav.opened = false">Funcionarios</a>
  </mz-sidenav-link>

  <mz-sidenav-link>
    <a routerLink="/servico" 
        routerLinkActive="active"  
        class="waves-effect" (click)="sidenav.opened = false">Serviço</a>
  </mz-sidenav-link>
</mz-sidenav>
